# fastapi==0.104.1
# uvicorn[standard]==0.24.0
# openai>=1.0.0
# python-dotenv==1.0.0
# huggingface-hub==0.35.1

fastapi==0.136.1
huggingface_hub==1.15.0
llama-cpp-python==0.3.20
psutil==5.9.5
pyngrok==8.1.2
sentence-transformers==5.4.1
sumy==0.12.0
tiktoken==0.12.0
torch==2.10.0
uvicorn==0.46.0